@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, #001a1d, #00090a);
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.app {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 1.5;
  color: #e0e0e0;
  font-family: "Quicksand", serif;
}

.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-page {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  max-height: 70vh;
  margin: 40px;
  padding: 20px;
}

.btn {
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  transition: all 0.25s ease-in-out;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 30px;
}
.btn:focus {
  border-color: #fefdde;
  outline: none;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn:active {
  transform: scale(0.96);
  transition: none;
}

input {
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  transition: all 0.25s ease-in-out;
  border-radius: 2px;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 0 10px 10px 10px;
}
input:focus {
  border-color: #fefdde;
  outline: none;
}
input::-moz-placeholder {
  color: #e0e0e0;
}
input::placeholder {
  color: #e0e0e0;
}
input:focus::-moz-placeholder {
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: transparent;
}
input:focus::placeholder {
  transition: all 0.5s;
  color: transparent;
}

.words-list {
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-size: 1.2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 64%;
  margin-left: 30px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  color: #e0e0e0;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 9vw;
}

.nav-link {
  position: relative;
  font-family: "Quicksand", serif;
  font-weight: 500;
  color: #e0e0e0;
  font-size: 2.5rem;
  text-decoration: none;
}
.nav-link::before {
  transition: all 0.3s;
  transform-origin: center;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 3px;
  background-color: #e0e0e0;
  border-radius: 40px;
}
.nav-link:hover::before {
  width: 100%;
}

.random-word {
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-size: 1.8rem;
}

.quiz-wrapper {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 20%;
  margin: 20px;
  color: #e0e0e0;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-wrapper h2 {
  font-size: 2rem;
}

.words-list-element {
  width: 25%;
}

.words-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quiz-correct-answer-text {
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-size: 1.4rem;
  color: green;
}

.quiz-wrong-answer-text {
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-size: 1.4rem;
  color: red;
}

.invis-text {
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-size: 1.4rem;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.error-message {
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-size: 1.2rem;
  color: red;
}/*# sourceMappingURL=App.css.map */